{% extends 'base.html.twig' %}


{% block title %}Modifier d'une publication
{% endblock %}

{% block body %}

	{# <h1>Modification d'une publication</h1> #}

{{ include ("publication/_form.html.twig",{valeurBtnSubmit:"Mettre à jour la publication"})}}
{% if errors|length > 0 %}
    <div class="alert alert-danger">
        <ul>
            {% for error in errors %}
                {% if error.origin is defined %}
                    {% set field_label = formPublication[error.origin.name].vars.label|default(error.origin.name) %}
                    <li>{{ field_label }} - {{ error.message }}</li>
                {% else %}
                    <li>{{ error.message }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}

</div></div></div><br><br>

{% include 'footer.html.twig' %}

{% endblock %}
