{% extends 'base.html.twig' %}


{% block title %}Nouvel reservation
{% endblock %}

{% block body %}

	{# <h1>Création d'une reservation</h1> #}

{{ include ("reservation/_form.html.twig")}}
</div></div> <br><br>
{% include 'footer.html.twig' %}

{% endblock %}
