{% extends 'base.html.twig' %}


{% block title %}Page accueil laboratoire
{% endblock %}

{% block body %}

	{# <h1>Page accueil laboratoire</h1> #}

{{ include ("laboratoire/_form.html.twig")}}
</br></br></div>
</div>
</div>
<br><br>
{% include 'footer.html.twig' %}

{% endblock %}
