{% extends 'base.html.twig' %}

{% block title %}Modifier le mot de passe{% endblock %}

{% block body %}
    <h1>Modifier le mot de passe</h1>

    {{ form_start(form) }}
        {{ form_row(form.plainPassword, {'label': 'Nouveau mot de passe'}) }}
        {{ form_row(form.save) }}
    {{ form_end(form) }}
{% endblock %}
