{% extends 'base.html.twig' %}


{% block title %}Nouvel chercheur
{% endblock %}

{% block body %}


	{# <h1>Création d'un chercheur</h1> #}
</div>
</div>
<br><br>
{{ include ("chercheur/_form.html.twig")}}
</div></div> <br><br>
{% include 'footer.html.twig' %}

{% endblock %}
