{% extends 'base.html.twig' %}


{% block title %}Informations sur notre équipe
{% endblock %}

{% block body %}

	{# <h1>Informations sur notre équipe</h1> #}

{{ include ("equipe/_form.html.twig")}}
</div></div></div><br><br>
{% include 'footer.html.twig' %}

{% endblock %}
