{% extends 'base.html.twig' %}


{% block title %}Nouvelle conférence
{% endblock %}

{% block body %}

	{# <h1>Création d'une conference</h1> #}

{{ include ("conference/_form.html.twig")}}
</div></div></div><br><br>

{% include 'footer.html.twig' %}

{% endblock %}
