{% extends 'base.html.twig' %}


{% block title %}Modifier chercheur
{% endblock %}

{% block body %}

	{# <h1>Modification de votre profil</h1> #}

{{ include ("chercheur/_form.html.twig",{valeurBtnSubmit:"Mettre à jour le chercheur"})}}

{# </div></div></div>
<br><br>
{% include 'footer.html.twig' %} #}

{% endblock %}
